* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Source Sans Pro, sans-serif;
}

html {
  background: linear-gradient(to top, rgb(242, 245, 255), rgb(255, 255, 255));
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100;
}

body {
  font: Arial;
  font-size: 16px;
  line-height: 1.5;
}

#main-logo {
  display: block;
  max-width: 100%;
  height: 32px;
  border-style: none;
  margin: 18px 83px;
}

.manufacturers-catalog,
.products-catalog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 51%;
  margin: 0 auto;
}

.manufacturer-item,
.product-item {
  width: 215px;
  height: 215px;
  list-style-type: none;
  margin-bottom: 20px;
  margin-right: 15px;
}

.products-catalog {
  margin-top: 38px;
}

.manufacturer-item img,
.product-item img {
  border-radius: .50rem;
  box-shadow: 0 0 10px 6px rgba(0,0,0,.3);
}

.manufacturer-item img:hover,
.product-item img:hover {
  box-shadow: 0 0 15px 6px rgb(255, 141, 141);
}

.btn-back {
  color: rgb(146, 35, 35);
  margin: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
}

.btn-back:hover {
  box-shadow: 0 1px 1px 1px rgb(199, 138, 138);
}

.btn-back:active {
  box-shadow: 0 1px 1px 2px rgb(199, 138, 138);
}

.btn-back:focus {
  outline: 0;
}

label {
  color: #fff;
  background-color: rgb(180, 0, 0);
  padding: 5px 10px;
  margin: -10px;
  margin-left: 10px;
  border: 1px dotted gray;
}

select {
  font-family: Cent Goth WGL Bold,Arial,sans-serif;
  padding: .350rem .75rem;
  width: 200px;
  background-color: white;
  outline: 0;
}